.App {
  text-align: center;
  justify-content:flex-start;
  align-items: center;
  display: flex;
  height: '50%';
}

.bar {
  background-color: blueviolet;
  height: 10px;
  transition: 1s ease;
  transition-delay: 0.5s;
}


.card {
  min-width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flexVertical {
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testGradiants0{
  background: rgb(227,170,100);
  background: linear-gradient(121deg, rgba(227,170,100,1) 0%, rgba(94,48,177,1) 100%);
  
}

.testGradiants1{
  background: rgb(45,160,162);
  background: linear-gradient(121deg, rgba(45,160,162,0.9752275910364145) 0%, rgba(177,136,48,1) 100%);
}

.testGradiants2{
  background: rgb(171,227,100);
  background: linear-gradient(117deg, rgba(171,227,100,1) 0%, rgba(48,177,165,1) 100%);
}

.testGradiants0d{
  background: rgb(227,170,100);
  background: linear-gradient(121deg, rgba(227,170,100,1) 0%, rgba(94,48,177,1) 100%);
  opacity: 0.7;
  z-index: -1;

}

.testGradiants1d{
  background: rgb(45,160,162);
  background: linear-gradient(121deg, rgba(45,160,162,0.9752275910364145) 0%, rgba(177,136,48,1) 100%);
  opacity: 0.5;
  z-index: -1;
}

.testGradiants2d{
  background: rgb(171,227,100);
  background: linear-gradient(117deg, rgba(171,227,100,1) 0%, rgba(48,177,165,1) 100%);
  opacity: 0.5;
  z-index: -1;
}